@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body {
  background: linear-gradient(180deg, #B00B69, #042069);
  background-repeat : no-repeat;
  background-attachment: fixed;
  Font-Size: 100%;
  color: antiquewhite;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 150%
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.randomise {
  border-radius: 25%;
  padding: 3px;
}
.randomiseDiv {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  select {
    background-color: dodgerblue;
  }
  .maintitle {
    color:orangered;
  }
  input, button {
    color: white;
    background: antiquewhite;
  }
}

@media (prefers-color-scheme: dark) {
  input, button {
    color: antiquewhite;
    background:dimgray;
    outline: none;
  }
  select {
    background-color: darkslateblue;
    color: antiquewhite;
  }
  .maintitle {
    color:palevioletred;
  }
}

