@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
html {
  height: 100%;
}
body {
  Font-Size: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}
.hidden {
  display: None;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 150%
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.randomise {
  border-radius: 25%;
  padding: 3px;
}
.randomiseDiv {
  text-align: center;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  body {
    background: white;
    background: linear-gradient(180deg, #B00B69, #042069);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  select {
    background-color: dodgerblue;
    color: white;
  }
  .maintitle {
    color:#0bb053;
  }
  input, button {
    color: black;
    background: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    background: linear-gradient(180deg, #580634, #021034);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
  }
  input, button {
    color: white;
    background:#1F1F1F;
    outline: none;
  }
  select {
    background-color: #11114e;
    color: white;
  }
  .maintitle {
    color:#0bb053;
  }
}

input:focus, button:focus, select:focus {
  border: 2px solid skyblue;
 } 

@media (min-width: 600px) {
  .per {
    display: inline;
  }
  .maintitle {
    margin: 10px;
}
}
@media (max-width: 599px) {
  .randomise {
    margin: 5px;
  }
  .maintitle {
    margin: 10px;
  .hidden {
    display: block;
}
